.form {
    font-family: Arial, Helvetica, sans-serif;
}


.form-input {
    width: 225px;
    border-color: #F1F3F4;
    border-style: transparent;
    border-radius: 4px;
    padding: 7px 5px;
    font-size: 15px;
}


p {
    margin: 5px 0;
}

.medium {
    font-size: 18px;
    padding: 8px 2px;
}

.large {
    font-size: 25px;
    padding: 12px 4px;
    font-weight: 500;
} 

.select{
    background-image: url(../Icons/drop-down-arrow.svg); 
    background-position: 85%;
    background-repeat: no-repeat;
    appearance: none;
}


.email{
    background-repeat: no-repeat;
    opacity: 1;
}


.selectBox {
    background-color: white;
    border: 2px solid black;
} 

.select-amount {
    width: 50%;
}


.voucher-input {
    display: flex;
    justify-content: flex-start;
    border-color: #F1F3F4;
    border-style: solid;
    border-radius: 4px; 
    padding: 25px 15px;
    font-size: 12px;
    color: gray;
}

.voucher-blank{ 
    width: 50px;
    border-right: none;
    border-radius: 4px 0 0 4px;
    font-size: 12px;
}

.voucherForm-button{
    background-color: #33A0FF;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 12px;
}

.voucherForm-large {
    width: 75px;
    padding: 20px 5px;
} 